LZT的小网盘
<style>
.lynrc {background-color:black;border:1px solid white;color:#2f4f4f;}

div[id=idzdy1]{display:none !important;}
body{background:url(https://cdn.jsdelivr.net/gh/lztttt/pic/img2022/123.svg);background-size:cover;}

.tdtop{background:url('https://cdn.jsdelivr.net/gh/lztttt/pic/img2022/circuit-board.svg')

</style>





